/* @import url(http://fonts.googleapis.com/css?family=Dosis:400,600); */

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 98vw;
    height: auto;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10vw;
    padding-bottom: 15px;
    padding-right: 10vw;
}

#site-title {
    font-size: 2em;
}

nav {
    display: inline-block;
}

nav ul li {
    padding-left: 20px;
    padding-right: 10px;
    float: left;
    display: block;
}

nav ul li a {
    color: #888888;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

#get-started-btn {
    display: inline-block;
    color: white;
    margin-left: 20px;
    height: 42px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    background-color: gray;
    vertical-align: top;
}

#get-started-btn span {
    vertical-align: middle;
    line-height: 42px;
}

section {
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    height: auto;
    border: 1px solid gray;
    padding: 30px;
}

section div.section-title {
    text-align: justify;
    text-align-last: center;
}

section div.section-title::after {
    content: '';
    display: inline-block;
    width: 100%;
}

section .section-title-text,
section .section-title-toggle {
    display: inline-block;
}

section .section-title-toggle span {
    padding: 6px;
}

section .section-title-toggle span.selected {
    background-color: gray;
    color: white;
}

#summary {
    text-align: center;
}

#summary span {
    margin-right: 30px;
    font-size: 1.2em;
}

#block {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    z-index: -1;
}

#block .block-box {
    height: 160px;
    width: 20vw;
    border: 1px dashed gray;
    overflow: hidden;
}


/* .block-box p {
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
} */

#timeline {
    display: flex;
    flex: auto;
    height: 400px;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
}

#timeline h3 {
    position: relative;
    top: 2.3rem;
    margin: 0;
}

#timeline .item {
    position: relative;
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5rem; */
}

#timeline .item div:after {
    content: '';
    width: 1px;
    position: absolute;
    top: .5rem;
    bottom: 0rem;
    left: 60px;
    z-index: 1;
    background-color: gray;
}

#timeline .item .bubble {
    position: relative;
}


/* #timeline .item .bubble:first-child .year {
    margin-top: -1.3em;
    padding-bottom: 0px;
} */

#timeline .item .bubble .year {
    position: relative;
    padding-bottom: 1.25em;
    /* margin-bottom: 2.2em; */
}

#timeline .item .bubble .year h4 {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 0 0 72px;
    font-weight: 300;
}

#timeline .item .bubble .year ul:first-of-type:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: gray;
    border: 2px solid white;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%; */
    border-radius: 50%;
    position: absolute;
    left: 54px;
    top: 3px;
    z-index: 2;
}

#timeline .item .bubble .year ul:last-child {
    margin-bottom: 0;
}

#timeline .item .bubble .year ul li {
    margin-left: 2rem;
}

#pie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    z-index: -1;
}

.pie-box {
    height: 80px;
    width: 12vw;
    border: 1px dashed gray;
}

footer {
    text-align: center;
}

#footer-elsewhere a {
    color: rgb(0, 0, 238);
}

@media screen and (max-width: 980px) and (min-width:640px) {}

@media screen and (max-width: 680px) {}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}