/* @import url(http://fonts.googleapis.com/css?family=Dosis:400,600); */

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10vw;
    padding-bottom: 15px;
    padding-right: 10vw;
}

#site-title {
    font-size: 2em;
}

nav {
    display: inline-block;
}

nav ul li {
    padding-left: 20px;
    padding-right: 10px;
    float: left;
    display: block;
}

nav ul li a {
    color: #888888;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

#get-started-btn {
    display: inline-block;
    color: white;
    margin-left: 20px;
    height: 42px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    background-color: gray;
    vertical-align: top;
}

#get-started-btn span {
    vertical-align: middle;
    line-height: 42px;
}

section {
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    height: auto;
    border: 1px solid gray;
    padding: 30px;
}

section div.section-title {
    text-align: justify;
    text-align-last: center;
}

section div.section-title::after {
    content: '';
    display: inline-block;
    width: 100%;
}

section .section-title-text,
section .section-title-toggle {
    display: inline-block;
}

section .section-title-toggle span {
    padding: 6px;
}

section .section-title-toggle span.selected {
    background-color: gray;
    color: white;
}

#summary {
    text-align: center;
}

#summary span {
    margin-right: 30px;
    font-size: 1.2em;
}

.block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    z-index: -1;
}

.box {
    height: 80px;
    width: auto;
    border: 1px dashed gray;
}

footer {
    text-align: center;
}

@media screen and (max-width: 980px) and (min-width:640px) {}

@media screen and (max-width: 680px) {}