@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);

html {
  font-family: "Dosis",sans-serif;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
}

#wrap {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

header {
    border-bottom: 1px solid #b6b6b6;
    display: flex;
    justify-content: space-between;
	padding-top: 25px;
	padding-left: 10vw;
	padding-bottom: 25px;
	padding-right: 10vw;
}

#site-title {
    font-size: 2em;
}

#site-logo {
    height: 41px;
    width: auto;
    vertical-align: text-bottom;
}

nav ul li {
	padding-left: 20px; 
	padding-right: 10px;
    float: left;
    display: block;
}
 
nav ul li a {
	color: #888888;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
}

nav .img-nav {
	width: 22px;
	height: auto;
	display: none;
}

.grid {
	height: calc(100vh - 90px);
	margin-top: 10px;
	margin-right: 10vw;
	margin-left: 10vw;
	color: white;
	display: flex;	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	z-index: -1;
}

.box {
	position: relative;
	display: inline-block;
	font-size: .8em;
	margin-top: 50px;
	margin-bottom: 10px;
	animation: 1s ease-in-out 0s 1 slide-in;
}

.img-overlay {
	position: absolute;
	padding: 0;
	opacity: 0;
	height: 100%; 
	width: 100%;
	background: rgba(0,0,0,0.6);
	transition: .5s all ease-in-out;
}

.box:hover .img-overlay {
	opacity: 1;
}

.box .img-overlay h3 {
	color: white;
	margin-top: 30%;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
	overflow-wrap: normal;
}

.box .img-tile {
	width: 24vw;
	min-width: 240px;
	height: auto;
}

#blog-links {
	list-style: none;
	text-decoration: none;
	padding: 0;
}

#blog-links li {
	text-align: center;
	line-height: 30px;
}

@keyframes slide-in {
	0% {transform: translateY(300%)}
	100% {transform: translateY(0%)}
}

@media screen and (max-width: 980px) and (min-width:640px){
	.box .img-tile {
		width: 36vw;
		min-width: 240px;
		height: auto;
	}

	.box {
		margin-top: 40px;
	}

	nav ul li {
		padding-left: 15px; 
		padding-right: 5px;
		float: left; 
		display: block;
	}
}

@media screen and (max-width: 680px) {
	#site-title {
		font-size: 1em;
	}

	#site-logo {
		height: 24px;
		width: auto;
		vertical-align: text-bottom;
	}

	.box .img-tile {
		width: 80vw;
		height: auto;
	}

	.box {
		margin-top: 40px;
	}

	nav ul {
		display: none;
	}

	nav .img-nav {
		display: block;
		padding-top: 6px;
		opacity: .5;
	}

	nav:hover .img-nav {
		opacity: 1;
	}
}